@import '../../styles/variables.scss';

.input-box {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    h2 {
        margin-bottom: 20px;
    }
    .input-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
}
